.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  width: 100vw;
  .testimonial-start {
    width: 100%;
    background: linear-gradient(
      180deg,
      #f9f9f9 22.12%,
      rgba(249, 249, 249, 0) 100%
    );

    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
