$color: (
  primary: hsl(3, 98%, 68%),
  secondary: hsl(0, 0%, 0%),
  third: hsl(0, 0%, 35%),
);

/* $font-family: (
  primary: "New York Extra Large",
  secondary: "SF UI Display",
  sans-serif,
);
 */
$font-weight: (
  semi-regular: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-size: (
  small: 0.75rem,
  regular: 0.875rem,
  large: 1rem,
  big: 2rem,
  enormous: 3rem,
  giant: 7.5rem,
);
